<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <nav class="navbar is-white topNav">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../static/img/paytm_logo.png "  height="28" />
          </a>
        </div>
        <div id="topNav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a
                    href="{{ url_for('logout') }}"
                    class="button is-medium is-info is-outlined"
                  >
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Log Out</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-medium is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered">
            Start a new job
          </h1>
          <div class="level">
            <a class="level-item button is-outlined is-light" href="{{ url_for('ml',category='Orders') }}">Orders</a>
            <a class="level-item button is-outlined is-light" href="{{ url_for('ml',category='Shipping') }}">Shipping</a>
            <a class="level-item button is-outlined is-light" href="{{ url_for('ml',category='Registrations') }}">Registrations</a>
            <a class="level-item button is-outlined is-light" href="{{ url_for('ml',category='Marketing') }}">Marketing</a>
          </div>
        </div>
        </div>
    </section>
    {% block content %}
    {% endblock content %}
  </body>
</html>
