{% extends "layout2.html" %} {% block content %}
    <section class="section">
      <div class="container">
        <div class="running-jobs">
          <h1 class="title">Job Running: {{ job.job_name }}</h1>
          <p class="subtitle">
            <progress
              style="margin-top: 50px; margin-bottom: 15px;"
              class="progress"
              value="{{ job.currently_processed_records }}"
              max="{{ job.total_records }}"
            ></progress>
            Completed <strong>{{ job.currently_processed_records }}</strong> of
            <strong>{{ job.total_records }}</strong> records.
          </p>
        </div>
      </div>
    </section>
{% endblock content %}
