.running-jobs {
  margin-top: 80px;
}
.button.is-link {
  background-color: #08baf2;
}
.button.is-link.is-outlined {
  border-color: #08baf2;
  color: #08baf2;
}
.button.is-link.is-outlined:hover {
  background-color: #08baf2;
}
.hero.is-medium .hero-body {
  padding-bottom: 7rem;
  padding-top: 7rem;
}
@media only screen and (min-width: 768px) {
  .login {
    width: 80vh;
  }

  a.level-item {
    margin-left: 5%;
    margin-right: 5%;
    width: 100px;
  }
}

.level {
  margin-top: 50px;
}

img.login-logo {
  width: 15vh;
  margin-bottom: 30px;
}
article.message.is-warning {
  margin-bottom: 0; 
}

.topNav {
  margin-top: 10px;
  margin-bottom: 10px;
}
